<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link href="https://fonts.googleapis.com/css?family=BenchNine|Droid+Sans|Roboto" rel="stylesheet">
</head>
<body>

 <div class="main-container">
	  <div class="main-menu">
	    <nav>
	      <ul>
	        <li class="about"><a href="#">Acerca de</a></li>
	        <li class="funnydev"><a href="{% url 'post_list' %}">FunnyDev</a></li>
	        <li class="contact"><a href="#">Contacto</a></li>
	      </ul>
	    </nav>
	  </div>
  	{% block content %}
	{% endblock content %}
	<script src="https://use.fontawesome.com/b9241a257e.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(function(){
			var $body = $('body');
			var $post = $('.post-list-container .post-container');
			$post.hover(function(e){
				$body.css('overflow-y', 'hidden');
				var $background_trans = $('.post-container .post-zoom .background-trans');
				$current_post_readmore_container = $(e.currentTarget).find('.container-read-more');
				$current_post_hover = $(e.currentTarget).find('.post-zoom').find('.background-trans');

				$background_trans.toggleClass('opacity_post');
				$current_post_readmore_container.toggleClass('opacity_readmore');

				$('.post .date').toggleClass('color_gray_post');
				$('.post .title').toggleClass('color_gray_post');
				$('.post .author .createby').toggleClass('color_gray_post');
				$('.post .read-more i').toggleClass('color_gray_post');


				$current_post_hover.removeClass('opacity_post');
				$(e.currentTarget).find('.post').find('.date').removeClass('color_gray_post');
				$(e.currentTarget).find('.post').find('.title').removeClass('color_gray_post');
				$(e.currentTarget).find('.post').find('.author .createby').removeClass('color_gray_post');
				$(e.currentTarget).find('.post').find('.read-more i').removeClass('color_gray_post');
			});
		});
	</script>
  </div>	
</body>
</html>