{% extends 'layout.html' %}
{% block content %}
	<!-- Facebook comments plugin -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<!-- Facebook like plugin -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<div class="post-detail-main">

		{% if post.get_preview_post %}
			<a class="change-post preview {{ post.get_preview_post.colorCss }}" href="{{ post.get_preview_post.get_absolute_url }}"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
		{% endif %}

		<div class="post_detail-document">
			<div class="post-detail">
				<h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
				{% if post.poster %}
			  	<figure>
					<img src="{{ post.poster.url }}" alt="{{post.title}}">
				</figure>
				{% endif %}
				<h6 class="author"><span>Creado por:</span> <a href="{{ post.author.link }}" target="blank">{{ post.author }}</a></h6>

				<h5>{{ post.timestamp }}</h5>
				<p>{{ post.content|safe }}</p>
				{% for cat in post.category.all %}
					<p>{{ cat }}</p>
				{% endfor %}
			</div>
			<div class="facebook-section">		
				<p>
					<div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
				</p>
				<hr>
				<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
			</div>
		</div>
		{% if post.get_next_post %}
			<a class="change-post next {{ post.get_next_post.colorCss }}" href="{{post.get_next_post.get_absolute_url}}"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
		{% endif %}
	</div>
{% endblock content %}
