{% extends 'base.html' %}

{% block title%}EJ - Funnydev{% endblock title %}

{% block content %}
<!--
	<form method="GET" action="">
		<div class="find-control-container">
			<div class="container-icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
			<input type="search" name="value" placeholder="Buscar" value="{{ request.GET.value }}" class="search">			
		</div>	
	</form>
	-->
	<div class="panels">
		 {% for post in posts %}
			<a href="{{ post.get_absolute_url }}" class="panel">
			  <div class="content-post">
			    <div class="fixed">
			      <span class="small">{{ post.timestamp|date:'d M Y' }}</span>
			      <h1>{{ post.title }}</h1>
			      <span class="excerpt"><p>{{ post.description }}</p>
			      </span>
			      <span class="autor"><a href="{{ post.author.link }}">{{ post.author }}</a></span>
			      <span class="small read"><span class="icon"></span>Leer Artículo</span>
			    </div>
			  </div>
			  <div class="color">
			    <div class="footer"></div>
			  </div>
			</a>
		{% endfor %}
	</div>
{% endblock content %}