 // fonts
$title-font: "Droid Sans", sans-serif;
$description-font: "BenchNine", sans-serif;
$body-font: "Roboto", sans-serif;

$bordeRojo: 1px solid red;

// color
$color_gray: #d4d4d4;
$color_nav: #f3f3f3;
$color_search_icon: #909090;
$color_transparent: #1E1E1E;

// prefixes with mixin
$prefixes: "webkit", "moz", "ms", "o", "none";

@mixin prefix($property, $arguments) {
    @each $prefix in $prefixes {
        @if $prefix == "none" {
            #{$property}: $arguments;
        }
        @else {
            -#{$prefix}-#{$property}: $arguments;
        }
    }
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .main-menu{
        z-index: 10;

        nav{ 
            background: $color_nav;
            position: fixed;
            right: 0;
            left: 0;

            ul{
                display: flex;
                justify-content: center;
                flex-direction: row;

                li{
                    list-style: none;
                }
            }
        }
    }

    .content{
        height: 100%;

        .panels{
            display: flex;
            height: 100%;


                .post-zoom{
                    width: 300px;
                    height: 100%;
                    //@include prefix(transition, transform 300ms ease-in-out);
                }

                &:hover .post-zoom {
                    @include prefix(transform, scale(1.1));
                    @include prefix(transform-origin, bottom);
                }
                & .purple {
                     background: #72616e;
                }

                & .orange{
                    background: #e8846b;
                }

                & .navy{
                    background: #16528e;
                }

                & .red{
                    background: #e54b4b;
                }

                & .lime{
                    background: #a2c5bf;
                }

                & .green{
                     background: #0082c8;
                }

                & .blue {   
                    background: #167c80;
                }  
                
            }
        }        
    }
}

.red{
   
    border: 1px solid red;
}


