{% extends 'layout.html' %}
{% block title %}FunnyDev{% endblock title %}
{% block content %}
	<form method="GET" action="">
		<div class="find-control-container">
			<div class="container-icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
			<input type="search" name="value" placeholder="Buscar" value="{{ request.GET.value }}" class="search">			
		</div>	
	</form>
	
	<div class="post-list-container">
		 {% for post in posts %}
		 	<div class="post-container">	 			
		 		<div class="post-zoom {{ post.colorCss }}">
		 			<div class="background-trans"></div>
		 		</div>
				<div class="post">	
					<h5 class="date">{{ post.timestamp|date:'d M Y' }}</h5>
					<h1 class="title">{{ post.title }}</h1>
					<p class="description">{{ post.description }}</p>
					<h6 class="author"><span class="createby">Creado por:</span> <a href="{{ post.author.link }}" target="blank">{{ post.author }}</a></h6>					
					<a href="{{ post.get_absolute_url }}" class="read-more"><i class="fa fa-eye eye-read-more" aria-hidden="true">						
					</i>Leer más</a>
				</div>
		 	</div>
		{% endfor %}
	</div>
{% endblock content %}